@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(20, 45, 224, 0.5) #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(20, 45, 224, 0.5);
  border-radius: 25px;
  border: 3px solid #fff;
}

/** HEADINGS SECTION **/

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

/** END HEADINGS SECTION **/

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: auto;
}
.no-highlight {
  user-select: none; /*chrome and Opera*/
  -moz-user-select: none; /* Firefox */
  -webkit-text-select: none; /* IOS Safari */
  -webkit-user-select: none; /* Safari */
}

.sub-page {
  margin: 100px auto 0;
  background-color: #ecebf9;
  min-height: 100%;
  /* position: absolute; */
  min-width: 100%;
  z-index: -1;
  padding: 50px;
}

/** FOOTER SECTION **/

/** END FOOTER SECTION **/
